<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579799158867-m8qg52nsaj9mdi09hb37f1bdpgd8ccqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579799158867-m8qg52nsaj9mdi09hb37f1bdpgd8ccqd</string>
	<key>API_KEY</key>
	<string>AIzaSyC3j5qtfU2X7fufrxGqgCKxQJUdVdj1HMo</string>
	<key>GCM_SENDER_ID</key>
	<string>579799158867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hamda.CarthageExample.Finder</string>
	<key>PROJECT_ID</key>
	<string>finder-79d2a</string>
	<key>STORAGE_BUCKET</key>
	<string>finder-79d2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579799158867:ios:13d51549a02a8bfb2236a6</string>
	<key>DATABASE_URL</key>
	<string>https://finder-79d2a.firebaseio.com</string>
</dict>
</plist>